@import "tailwindcss";

@theme {
  --font-Verdana: Verdana, sans-serif;
  --font-serif: "Segoe UI", Arial, sans-serif;
  --breakpoint-sm: 601px;
  --breakpoint-md: 992px; /* 1024px */
}

html,
body {
  font-family: var(--font-Verdana);
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Verdana";
  src: url(/assets/fonts/verdana.ttf);
}

h1 {
  font-size: 24px;
  font-weight: 400;
}

p {
  font-size: 15px;
}

#projects,
#about,
#contact {
  max-width: 1564px;
}
